<main> 
<div class="heading">
  <h1> Hello! </h1>
  <br>
  <button><%= link_to 'Learn More', '/about' %> </button>
</div>
<div class="supporting">
  <h2> Sup </h2>
  <p>Something</h2>
</div>
<div class="secondary"> 
  <img src='https://scontent-mia3-2.xx.fbcdn.net/v/t1.6435-9/58441623_4443819092272_1261214393396363264_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=0debeb&_nc_ohc=qG9DeM55AygAX8KPu_K&_nc_ht=scontent-mia3-2.xx&oh=0d22eac0d8501de82d4a8b0fb5abc1f7&oe=6182F5FC' alt="Venice gondola" width=100%>
</div>
<div class="discover"> 
  <h2> Discover </h2>
  <button> <%= link_to 'Learn more', '/about' %> </button>
</div>
</main>
